* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: pop;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 25px 9%;
    background: #fff;
    box-shadow: 0 2px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
    background-image: url(images/clouds.png);

}

.logo {
    font-size: xx-large;
    color: black;
    text-decoration: none;
    font-weight: 600;
    font-style: italic;
    font-family: "Cedarville Cursive", cursive;
}

#cartIcon {
    position: relative; 
    display: flex;
    font-size: 30px;
    cursor: pointer;
}

#cartIcon .cartItemCount {
    position: absolute;
    top: 0;
    right: -6px;
    width: 20px;
    height: 20px;
    background-color: aqua;
    border-radius: 50%;
    font-size: 10px;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
}

.shop {
    padding: 100px 9% 30px;
}

.sectionTitle {
    font-size: 35px;
    text-align: center;
    margin-bottom: 15px;
    margin-top: 20px;
}

.productContent {
    display: inline-flex;
    grid-template-columns: repeat(auto-fit, minmax(300px 1fr));
    gap: 30px;
}

.productBox .imgBox {
    display: flex;
    border-radius: 10px;
    overflow: hidden;
    height: 150px;
    width: 100%;
}

.imgBox img {
    width: 100%;
    transition: 0.5s;
}

.imgBox:hover img{
    transform: scale(1.1);
}

.productBox .productTitle {
    font-size: x-large;
    margin-top: 10px;
}

.productBox .priceCart {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: large;
}

.productBox .price {
    letter-spacing: 5px;
    font-weight: 400;
}

.priceCart .addCart {
    padding: 10px;
    background: aqua;
    border-radius: 20px;
    font-size: 20px;
    cursor: pointer;
}

.cart {
    position: fixed;
    top: 0;
    right: -100%;
    width: 360px;
    height: 100%;
    background-image: url(images/clouds.png);
    background-repeat: no-repeat;
    box-shadow: -2px 0 10px rgba(0, 0, 0, 0.8);
    z-index: 100;
    overflow: auto;
    padding: 65px 20px 40px;
    transition: 0.5s;
}

.cart.active {
    right: 0;
}

.cartTitle {
    text-align: center;
    font-size: 30px;
}

.cartBox {
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.cartBox img{
    width: 100px;
    height: 100px;
    border-radius: 6px;
    object-fit: cover;
    margin-right: 20px;
}

.cartDetail {
    display: grid;
    gap: 8px;
    margin-right: auto;
}

.cartProductTitle {
    font-size: 16px;
    line-height: 1;
}

.cartPrice {
    font-weight: 500;
}

.cartQuantity {
    display: flex;
    justify-content: space-between;
    width: 100px;
    border: 1px solid;
    border-radius: 6px;
}

.cartQuantity button {
    background: transparent;
    width: 30px;
    border: none;
    font-size: 20px;
    cursor: pointer;
}

.cartQuantity .number{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
}

.cartRemove {
    font-size: 25px;
    cursor: pointer;
}

.total {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    border-top: 2px solid white;
    margin-top: 20px;
    font-size: 18px;
}

.totalPrice {
    margin-left: 20px;
    font-weight: 600;
}

.btnBuy {
    display: block;
    padding: 10px 30px;
    background: white;
    border: none;
    border-radius: 6px;
    font-size: 20px;
    color: aqua;
    margin: 20px auto 0;
    cursor: pointer;
}

#cartClose {
    position: absolute;
    top: 20px;
    right: 15px;
    font-size: 35px;
    cursor: pointer;
}